body {
  color: #2d2d2d;
  font-family: 'Crimson Text', serif;
}

* {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  color: #2d2d2d;
  text-decoration: none;
}

#mainvisual {
  width: 90vw;
  margin: 4% auto 0 auto;
}

#header {
  width: 90vw;
  display: flex;
  align-items: center;
  padding: 32px 0;
  margin: 0 auto 30px auto;
}

.site-title {
  width: 110px;
  line-height: 1px;
  margin-right: 50px;
}

.site-title a {
  display: block;
}

#header li {
  font-size: 0.875rem;
  margin-right: 30px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 18px;
}

.content {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.content .img {
  width: 50%;
}

.content .text {
  width: 50%;
  padding: 0 7%;
}

.section-title {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 4px;
}

.section-title-en {
  display: inline-block;
  margin-bottom: 25px;
}

#footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  padding: 20px 0;
}

#footer .logo {
  width: 110px;
}